// |=============== SETTING UP A MIXIN FOR CONNECTING FONTS ===============>
@mixin addFont($nameFontFamily, $pathToFont, $fw, $fs) {
  @font-face {
    src: url("../fonts/#{$pathToFont}.woff2") format("woff2"), url("../fonts/#{$pathToFont}.woff") format("woff");
    font-family: "#{$nameFontFamily}";
    font-weight: #{$fw};
    font-style: #{$fs};
    font-display: swap;
  }
}
