// |=============== CONTAINER ===============>
// |CM| Width and indents of the container
$contentWidth: 0;
$contentFluidWidth: 0;
$containerOffset: 0;
$containerFluidOffset: 0;
$containerWidth: $contentWidth + ($containerOffset * 2);
$containerFluidWidth: $contentFluidWidth + ($containerFluidOffset * 2);

// |=============== FONT-FAMILY ===============>
// |CM| Main font-family
$primaryFontFamily: null;
// |CM| Additional font-families
$secondFontFamily: null;
$thirdFontFamily: null;
$fourthFontFamily: null;

// |=============== COLOR ===============>
// |CM| Change favorite color (Color name - )
$hueColor: null;
// |CM| HSL color mode
$primaryColor: null;
$secondColor: null;
$thirdColor: null;
$fourthColor: null;
$fifthColor: null;
$sixthColor: null;
$seventhColor: null;
$eighthColor: null;
$ninthColor: null;
$tenthColor: null;
$eleventhColor: null;
$twelfthColor: null;
$thirteenthColor: null;
$fourteenthColor: null;
$fifteenthColor: null;
$sixteenthColor: null;
$seventeenthColor: null;
$eighteenthColor: null;
$nineteenthColor: null;
$twentiethColor: null;
$twentyFirstColor: null;
$twentySecondColor: null;
$twentyThirdColor: null;
$twentyFourthColor: null;
$twentyFifthColor: null;
$twentySixthColor: null;
$twentySeventhColor: null;
$twentyEighthColor: null;
$twentyNinthColor: null;
$thirtiethColor: null;
// |CM| Universal colors
$whiteColor: hsl(0 0% 100%);
$blackColor: hsl(0 0% 0%);

// |=============== FONT-WEIGHT ===============>
// |CM| Main font-weight
$primaryFontWeight: null;
// |CM| Additional font-weights
$secondFontWeight: null;
$thirdFontWeight: null;
$fourthFontWeight: null;
$fifthFontWeight: null;

// |=============== FONT-SIZE ===============>
// |CM| Base font-size ( .5rem = 8px, 1rem = 16px, 1.5rem = 24px ...)
$textSizeBase: null;
// |CM| Different font-size options
$textSizeMinTiny: $textSizeBase - null;
$textSizeMinSmall: $textSizeBase - null;
$textSizeMinMedium: $textSizeBase - null;
$textSizeMinBig: $textSizeBase - null;
$textSizeMinLarge: $textSizeBase - null;
$textSizeMinHuge: $textSizeBase - null;
$textSizeTiny: $textSizeBase - null;
$textSizeSmall: $textSizeBase - null;
$textSizeMedium: $textSizeBase + null;
$textSizeBig: $textSizeBase + null;
$textSizeLarge: $textSizeBase + null;
$textSizeHuge: $textSizeBase + null;
$textSizeMaxTiny: $textSizeBase + null;
$textSizeMaxSmall: $textSizeBase + null;
$textSizeMaxMedium: $textSizeBase + null;
$textSizeMaxBig: $textSizeBase + null;
$textSizeMaxLarge: $textSizeBase + null;
$textSizeMaxHuge: $textSizeBase + null;

// |=============== LINE-HEIGHT ===============>
// |CM| Main line-height
$primaryLh: null;
// |CM| Additional lines-heights
$secondLh: null;
$thirdLh: null;
$fourthLh: null;
$fifthLh: null;
$sixthLh: null;
$seventhLh: null;
$eighthLh: null;
$ninthLh: null;
$tenthLh: null;

// |=============== BORDER-RADIUS ===============>
// |CM| Main border-radius
$primaryBr: null;
// |CM| Additional border-radiuses
$secondBr: null;
$thirdBr: null;
$fourthBr: null;
$fifthBr: null;
$sixthBr: null;
$seventhBr: null;
$eighthBr: null;
$ninthBr: null;
$tenthBr: null;

// |=============== GAP ===============>
// |CM| Specifying a fallback color for background images
$primaryGap: null;
$secondGap: null;
$thirdGap: null;
$fourthGap: null;
$fifthGap: null;
$sixthGap: null;
$seventhGap: null;
$eighthGap: null;
$ninthGap: null;
$tenthGap: null;

// |=============== TRANSITION ===============>
// |CM| Duration of effects (most effective 0.2 to 0.4s)
$fastTransitionDuration: 0.2s;
$mediumTransitionDuration: 0.3s;
$slowTransitionDuration: 0.4s;

// |=============== ANIMATIONS ===============>
// |CM| Duration of animations (most effective 0.2 to 0.5s)
$fastAnimationDuration: 0.2s;
$mediumAnimationDuration: 0.3s;
$slowAnimationDuration: 0.4s;
$verySlowAnimationDuration: 0.5s;

// |=============== Z-INDEX ===============>
// |CM| Ready z-index values for different components
$primaryZ: -1;
$secondZ: 0;
$thirdZ: 1;
$fourthZ: 2;
$fifthZ: 3;
