// |=============== HERE WE DESCRIBE THE STYLES FOR ELEMENTS FROM THE UI KIT ===============>
.page {
  scroll-behavior: smooth;

  &__body {
    position: relative;
  }
}

.body {
  text-rendering: optimizeLegibility;

  @media screen and (any-pointer: coarse) {
    text-rendering: optimizeSpeed;
  }
}
